#home{
    .reproductor{
        height: 100vh;
        width: 100vw;
        position: relative;
        float: left;
        display: flex;
        overflow: hidden;
        @import "components/videoplayer";
        img{
            z-index: -1;
            opacity: 0.4;
            object-fit: cover;
            width: 100%;
        }
    }
}